project_id             = "your-gcp-project-id"
region                 = "europe-west1"
zone                   = "europe-west1-b"
cluster_name           = "golden-blog-gke-cluster"
network_name           = "golden-blog-vpc"
subnet_name            = "golden-blog-subnet"
subnet_cidr            = "10.10.0.0/20"
db_instance_name       = "golden-blog-db-instance"
db_tier                = "db-custom-2-7680"
db_name                = "golden_blog"
db_user                = "blog_user"
artifact_repository_id = "golden-blog-repo"
